/* bar : */

.irs .irs-bar {
  border-top-color: #344A58;
  border-bottom-color: #344A58;
} 

.irs .irs-bar-edge {
  border-color: #344A58;
}

.irs .irs-single, .irs .irs-bar, .irs .irs-bar-edge {
  background-color: #344A58;
}

.irs .irs-min, .irs .irs-max {
  background-color: #075D8E;
  color: #ffffff;
}

/* container : */

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

/* navbar : */

.navbar-top {
  background-color: #ffffff;
}

#logo-top {
  display: flex;
  justify-content: center;
  transition: 0.25s;
}

#logo-top:hover {
  background-color: #ffffff;
  border-radius: 5px;
}

#logo-top:focus {
  background-color: #ffffff;
  border-radius: 5px;
}

.navbar-button {
  height: 50px;
  border: none;
  float: right;
  transition: 0.3s;
  background-color: #ffffff;
}

.navbar-button:hover {
  background-color: #238694;
  color: #ffffff;
}

.navbar-button:focus {
  background-color: #ffffff;
}

.navbar-info {
  height: 50px;
  border: none;
  float: right;
  transition: 0.3s;
  background-color: #ffffff;
}

.navbar-info:hover {
  background-color: #238694;
  color: #ffffff;
}

.navbar-info:focus {
  background-color: #ffffff;
}

#div-navbar-plot {
  height: 50px;
  float: right;
  transition: 0.3s;
  background-color: #ffffff;
}

#div-navbar-plot:hover {
  background-color: #238694;
  color: #ffffff;
}

#div-navbar-plot:focus {
  background-color: #ffffff;
}

/* other : */

.divider {
  height: 20px;
}

.col-sm-4 {
  margin-left: 1.5%;
  margin-top: 10px;
  width: 30%;
  height: 100%;
}

.col-sm-8 {
  margin-left: -1%;
  margin-top: 10px;
  width: 69%;
}

.plot-sidebar {
  margin-bottom: 20px;
  margin-right: 5px;
  padding: 19px;
  background-color: #f5f5f520;
  border: 1px solid #e3e3e3;
}

.main-visible {
  opacity: 1;
  z-index: 1;
  visibility: visible;
}

/* button : */

/* btn btn-default action-button shiny-bound-input */

.all-button {
  background-color: #238694;
  color: white;
}

.control-label {
  font-weight: bold;
  color: #075D8E;
}

/* picture : */

.fit-picture {
  margin: auto;
  width: 100%;
  height: 100%;
  display: block;
}

/* table : */

.table-container {
  text-align: center;
}

.table-container table {
  display: inline-block;
  vertical-align: middle;
}

.df_table_scroller {
  width: 100%;
  height: 350px;
  font-size: 10px;
  overflow-y: scroll;
  overflow-x: scroll;
}

.df_table {
  width: 100%;
  height: 100%;
  font-size: 12px;
}

table {
  border-collapse: collapse;
  border: 1px solid;
  /* border-color: 3px #075D8E;
  border-left: solid 3px #075D8E;
  border-top: solid 3px #075D8E; */
}

/* other : */

.progress-bar {
  background-color: #344A58;
}
